@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

h1 {
  font-family: "Helvetica Neue", san-serif;
  font-size: 2.125em;
  color: #1c71a0;
  font-weight: 200;
  line-height: 1.4em;
  margin-bottom: 0; }

h2 {
  font-family: "Helvetica Neue", san-serif;
  font-size: 2.125em;
  color: #1c71a0;
  font-weight: 900;
  line-height: 1.4em;
  margin-bottom: 0; }

p {
  font-weight: 300;
  margin-top: 0px; }
  p.step {
    color: #7f7f7f;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 8px; }

select {
  background: #fff;
  width: 100%;
  border: solid 1px #7aacc8;
  margin-top: 30px;
  border-radius: 0;
  color: #5595b8;
  text-transform: uppercase;
  font-size: 15px;
  padding: 6px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

button {
  background-color: #f0d53e; }

button.gray {
  color: #1c71a0;
  min-width: 200px;
  background: #ecedee; }
button.blue {
  color: #ecedee;
  min-width: 200px;
  background: #1c71a0; }

input[type="text"], input[type="email"], input[type="phone"] {
  border: solid 1px #7aacc8;
  color: #5595b8;
  border-radius: 0;
  height: 42px;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  background-color: #fff;
  background-image: none;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

textarea {
  border: solid 1px #7aacc8;
  color: #5595b8;
  border-radius: 0;
  height: 42px;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  background-color: #fff;
  background-image: none;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 200px; }

@media screen {
  body .hide {
    display: none; }
  body section {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.75rem; }
    body section:after {
      content: "";
      display: table;
      clear: both; }
    body section .swatches {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-top: 1.875rem; }
      body section .swatches:last-child {
        margin-right: 0; }
      body section .swatches .color-wow-item {
        height: 40px;
        width: 40px;
        overflow: hidden;
        float: left;
        position: relative; }
        body section .swatches .color-wow-item img {
          height: 100%; }
        body section .swatches .color-wow-item:before {
          content: "";
          border: 4px solid transparent;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }
        body section .swatches .color-wow-item:hover:before {
          border-color: #f0d53e; }
    body section .sidebar {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0; }
      body section .sidebar:last-child {
        margin-right: 0; }
      body section .sidebar .product {
        margin-bottom: 1.25rem;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        body section .sidebar .product .cover {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 10; }
        body section .sidebar .product .alert {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          height: 0px;
          overflow: hidden;
          background-color: #ecedee;
          text-align: center;
          border: 1px solid #7CACC7;
          font-size: 1.5rem;
          position: absolute;
          top: 0px;
          z-index: 1;
          padding: 0;
          border-color: transpartent;
          padding: 0px; }
          body section .sidebar .product .alert button {
            width: 100%; }
            body section .sidebar .product .alert button.gray {
              border: 1px solid #7CACC7;
              margin-top: 10px;
              opacity: 0.5; }
            body section .sidebar .product .alert button.blue {
              margin-top: 20px;
              background-color: #7CACC7; }
        body section .sidebar .product.show {
          height: 200px; }
          body section .sidebar .product.show .alert {
            height: inherit;
            padding: 15px; }
      body section .sidebar .hover {
        margin-top: 0.625rem;
        background-color: #1c71a0;
        overflow: hidden;
        height: 160px;
        position: relative; }
        body section .sidebar .hover:before {
          content: "";
          position: absolute;
          bottom: 0.625rem;
          left: 0.625rem; }
        body section .sidebar .hover img {
          width: 100%; }
        body section .sidebar .hover .preview-name {
          position: absolute;
          bottom: 0;
          height: 24px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          text-align: center;
          color: white; }
      body section .sidebar .palette {
        height: 180px;
        overflow: hidden; }
        body section .sidebar .palette:after {
          content: "";
          display: table;
          clear: both; }
        body section .sidebar .palette ul.colors li {
          width: -webkit-calc(33.333% - 7px);
          width: calc(33.333% - 7px);
          height: 80px;
          float: left;
          margin: 10px 10px 0 0;
          background-color: whitesmoke;
          border: 1px solid #9f9f9f;
          background-size: cover;
          position: relative; }
          body section .sidebar .palette ul.colors li:nth-of-type(3n) {
            margin-right: 0; }
          body section .sidebar .palette ul.colors li span {
            opacity: 0;
            position: absolute;
            bottom: 0;
            height: 24px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            color: white;
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out; }
          body section .sidebar .palette ul.colors li:hover span {
            opacity: 1; }
      body section .sidebar button.gray {
        margin-top: 20px;
        width: 100%; }
      body section .sidebar .photo-preview {
        margin-top: 0.625rem;
        background-color: #1c71a0;
        overflow: hidden;
        height: 160px;
        position: relative; }
        body section .sidebar .photo-preview:before {
          content: "Upload Preview";
          position: absolute;
          bottom: 0.625rem;
          left: 0.625rem; }
        body section .sidebar .photo-preview img {
          width: 100%; }
    body section .sims ul.renders > li {
      width: -webkit-calc(20% - 16px);
      width: calc(20% - 16px);
      height: 200px;
      float: left;
      margin: 20px 20px 0 0;
      border: 1px solid #9f9f9f;
      background-color: whitesmoke; }
      body section .sims ul.renders > li:nth-of-type(5n) {
        margin-right: 0; }
    body section .options {
      padding: 0 100px; }
      body section .options .icons {
        text-align: center; }
        body section .options .icons > div {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%; }
          body section .options .icons > div:last-child {
            margin-right: 0; }
          body section .options .icons > div > i {
            height: 80px;
            width: 80px;
            display: block;
            background-repeat: no-repeat;
            background-size: 80px 80px;
            margin: 2.5rem auto 1.25rem; }
            body section .options .icons > div > i.selected ~ p {
              color: #1c71a0; }
        body section .options .icons .print i.icon-print {
          background-image: url("../img/printer.svg"); }
          body section .options .icons .print i.icon-print.selected {
            background-image: url("../img/printer-color.svg"); }
        body section .options .icons .request i.icon-ask {
          background-image: url("../img/info.svg"); }
          body section .options .icons .request i.icon-ask.selected {
            background-image: url("../img/info-color.svg"); }
        body section .options .icons .email i.icon-email {
          background-image: url("../img/mail.svg"); }
          body section .options .icons .email i.icon-email.selected {
            background-image: url("../img/mail-color.svg"); }
        body section .options .icons .order {
          margin-right: 0; }
          body section .options .icons .order i.icon-order {
            background-image: url("../img/cube.svg"); }
            body section .options .icons .order i.icon-order.selected {
              background-image: url("../img/cube-color.svg"); }
    body section .option-content {
      padding: 0 100px;
      height: 500px;
      position: relative; }
      body section .option-content > div {
        position: absolute;
        top: 200px;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        opacity: 0; }
        body section .option-content > div:last-child {
          margin-right: 0; }
        body section .option-content > div.selected {
          opacity: 1;
          top: 0; }
      body section .option-content .left, body section .option-content .right {
        padding: 0 20px;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        body section .option-content .left:last-child, body section .option-content .right:last-child {
          margin-right: 0; }
        body section .option-content .left .sims, body section .option-content .right .sims {
          margin-top: 20px; }
          body section .option-content .left .sims ul li, body section .option-content .right .sims ul li {
            width: -webkit-calc(33.333% - 7px);
            width: calc(33.333% - 7px);
            height: 80px;
            float: left;
            margin: 10px 10px 0 0;
            background-color: whitesmoke;
            border: 1px solid #9f9f9f;
            background-size: cover; }
            body section .option-content .left .sims ul li:nth-of-type(3n), body section .option-content .right .sims ul li:nth-of-type(3n) {
              margin-right: 0; }
            body section .option-content .left .sims ul li.selected, body section .option-content .right .sims ul li.selected {
              border-color: #1c71a0;
              border-width: 4px; } }
.dropzone {
  background-color: #eeeeee;
  text-align: center;
  position: relative;
  border: 1px solid #dddddd;
  display: inline-block; }
  .dropzone:after {
    content: "Drop your image here or click to add one!";
    font-size: 30px;
    color: #bbbbbb;
    position: absolute;
    bottom: 60%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 0; }
  .dropzone:before {
    content: "";
    font-family: "Glyphicons Halflings";
    font-size: 60px;
    color: #dbdbdb;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 0; }
  .dropzone.loading:after {
    content: "Please wait, image is loading"; }
  .dropzone.loading:before {
    content: ""; }
  .dropzone.done:after, .dropzone.done:before {
    content: ""; }
  .dropzone.notAnImage {
    background-color: #f2dede;
    border-color: #ebccd1; }
    .dropzone.notAnImage:after {
      content: "The selected file is not an image!";
      color: #a94442; }
    .dropzone.notAnImage:before {
      content: "";
      color: #ebccd1; }
  .dropzone.alert-danger {
    background-color: #f2dede; }
    .dropzone.alert-danger:after {
      content: ""; }
  .dropzone.smalltext:before, .dropzone.smalltext:after {
    font-size: 20px; }
  .dropzone > span {
    font-size: 30px;
    color: #bbbbbb;
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 0; }
    .dropzone > span.loader {
      display: none; }
  .dropzone > input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    height: 100%; }
  .dropzone > input[type=text] {
    display: none; }
  .dropzone .progress {
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: none; }
  .dropzone .cropWrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #eeeeee;
    text-align: left; }
  .dropzone img {
    z-index: 5;
    position: relative; }
    .dropzone img.ghost {
      opacity: 0.2;
      z-index: auto;
      float: left; }
    .dropzone img.main {
      cursor: move; }
  .dropzone .final img.main {
    cursor: auto; }
  .dropzone img.preview {
    width: 100%; }
  .dropzone .tools {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: inline-block; }
    .dropzone .tools > * {
      margin: 0 0 0 5px; }
  .dropzone.smalltools .tools .btn {
    padding: 1px 4px;
    font-size: 12px; }
  .dropzone .download {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 999;
    display: inline-block; }
    .dropzone .download > * {
      margin: 0 0 0 5px; }

/* not an image */
/*.dropzone canvas.final      { background-color: #eeeeee;} */

/*# sourceMappingURL=app.css.map */
