doctype html
html(lang="en")
	include ./inc/head.jade

body
	section
		.swatches.color-wow-box
		.sidebar
			.product
				.cover
				.alert
					p.instruction 
					| Changing the product line will reset
					br
					| any selected colors.
					button.blue Ok, reset and change lines.
					button.gray No, cancel.
				select
					option Select a Product Line
			.photo
				button Upload a photo
			.photo-preview
				.dropzone(data-width="960" data-height="540" data-resize="true" data-url="http://uf.dev.ndandp.com/portals/0/skins/uf/app_services/uploadPhotoFromColorTool.aspx " style="width: 100%")
					input(type="file" name="thumb")
			.hover
				.preview-name
					| Color name
					span
						| &nbsp;#72636
			.palette
				ul.colors#palette-preview
					li#palette1
						span(onclick="clearSelection('#palette1')") x
					li#palette2
						span(onclick="clearSelection('#palette2')") x
					li#palette3
						span(onclick="clearSelection('#palette3')") x
					li#palette4
						span(onclick="clearSelection('#palette4')") x
					li#palette5
						span(onclick="clearSelection('#palette5')") x
					li#palette6
						span(onclick="clearSelection('#palette6')") x

			button.gray save palette
	section
		.sims
			hr
			p.instruction Carpet Simulations
			ul.renders
				li.sim-1
				li.sim-2
				li.sim-3
				li.sim-4
				li.sim-5
	section.actions
		hr
		p.instruction Action Options
		.options
			.icons
				.print
					i.icon-print
					p.step Print
				.request
					i.icon-ask.selected
					p.step Request Info
				.email
					i.icon-email
					p.step Email
				.order
					i.icon-order
					p.step Order Samples
	section
		.option-content
			.print
				| Send out to print css page
			.request.selected
				.left
					label(for="")
					input(type="text" placeholder="Your Name")
					label(for="")
					input(type="email" placeholder="Your Email")
					label(for="")
					input(type="text" id="company" placeholder="Your Company")
					label(for="")
					input(type="text" placeholder="(***) ***-****")
					button.gray Submit Request
				.right
					label(for="")
					textarea#request-note(name="", cols="30", rows="10" placeholder="Let us know what you would like to hear about.")
			.email
				.left
					label(for="")
					input(type="text" placeholder="Your Name")
					label(for="")
					input(type="email" placeholder="Your Email")
					button.gray Send Email
				.right
					label(for="")
					textarea#email-note(name="", cols="30", rows="10" placeholder="What message would you like to send?")
			.order
				.left
					label(for="")
					input(type="text" placeholder="Your Name")
					label(for="")
					input(type="email" placeholder="Your Email")
					label(for="")
					input(type="phone" placeholder="(***) ***-****")
					label(for="")
					input(type="text" id="company" placeholder="Your Company")

					.address
						label(for="")
						input(type="text" id="address-1" placeholder="Your Address")
						label(for="")
						input(type="text" id="address-1")
						label(for="")
						input(type="text" id="city" placeholder="City")
						select
							option TN
						label(for="")
						input(type="text" id="zip" placeholder="ZIP")

					button.gray Place Order
				.right
					label(for="")
					textarea#order-note(name="", cols="30", rows="10" placeholder="Let us know what you would like to hear about.")
					.sims
						p Select Simulations to include
						ul#order-sims
							li.sim-1
							li.sim-2
							li.sim-3
							li.sim-4
							li.sim-5