doctype html
html(lang="en")
	include ./inc/head.jade

body
	.landing
		.title
			h1 Landing Page
	.cover
	.wrapper
		include ./inc/client-banner.jade
		include ./inc/configuration.jade
		include ./inc/financing.jade