body
	.cover
		background-image: url("../img/bg.png")
		+size(1024px 768px)
		+position(absolute, 0 0 0 0)
		z-index: -1
	.wrapper
		+position(absolute, 0 0 0 0)
		z-index: 1
		+size(1024px 768px)
		background-image: url("../img/cover.png")