head
	title Jade Template
	link(href="css/app.css" rel="stylesheet")

	//- Webapp Meta Tags
	//- link(rel="apple-touch-icon", href="apple-touch-icon-iphone.png")
	//- link(rel="apple-touch-startup-image", href="startup-image.png")

	//- meta(name="viewport" content="width=device-width, initial-scale=1")
	//- meta(name="apple-mobile-web-app-capable" content="yes")
	//- meta(name="apple-mobile-web-app-status-bar-style" content="black")

	script(src="//code.jquery.com/jquery-1.10.2.min.js")
	script(src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js")
	script(type='text/javascript' src='js/client.js')
	